<p>choose up to 3 (now or later):</p>
<ul>
    <li><span style="color:#000000">◇&nbsp;</span><strong>Sword</strong>, iron (close, +1 damage)</li>
    <li><span style="color:#000000">◇&nbsp;</span><strong>Battleaxe</strong>, iron (close, <em>messy</em>)</li>
    <li><span style="color:#000000">◇&nbsp;</span><strong>Warhammer</strong>, iron (close, 2 piercing)</li>
    <li><span style="color:#000000">◇&nbsp;</span><strong>Mace</strong> or <strong>flail</strong>, iron (<em>close, forceful</em>)</li>
    <li><span style="color:#000000">◇&nbsp;</span><strong>Crossbow</strong>(<em>far</em>, +1 damage, <em>reload</em>, x piercing)</li>
</ul>
