<p>You led a worldly life. A life of fear and doubt, base pleasures and petty grudges. A life like so many others. But something happened&mdash;injury, illness, a brush with Death; perhaps a moment of such profound misery and self-loathing that you thought you could fall no further.</p>

<p>There, in the dark, Helior&rsquo;s light shined upon you, igniting in your soul, lifting you and fi lling you with a profound sense of purpose.</p>

<p>When you <em><strong>Persuade a group by preaching charity, mercy, and hope and roll a</strong></em> <strong>7+</strong>, aside from the usual effect, choose 1:</p>
<ul>
    <li>Your name and your message spread</li>
    <li>Someone approaches you, now or later, eager to know more</li>
</ul>