<h4 class='my-3'>Moves</h4>
<ul class="list-group">
    {% for move in character.move_instances.all %}
        {% if move.move.total_uses or move.move.total_charges or move.move.moveextrabilites_set.all|length > 0 %}
            <a href="{% url 'update-move' character.campaign.id character.id move.id %}" class="list-group-item flex-fill">
                <div class="text-center">
                    <h6>{{ move.move.name }}</h6>
                    {% if move.move.total_uses %}
                        <p>{{ move.move.uses_name }}: {{ move.uses }} / {{ move.move.total_uses }}</p>
                    {% endif %}
                    {% if move.move.total_charges %}
                        <p>{{ move.move.charge_name }}: {{ move.charges }} / {{ move.move.total_charges }}</p>
                    {% endif %}
                </div>
            </a>
        {% else %}
            <li class="list-group-item">
                <div class="text-center">
                    <h6>{{ move.move.name }}</h6>
                    {% if move.move.total_uses %}
                        <p>Uses: {{ move.uses }} {{ move.move.total_uses }}</p>
                    {% endif %}
                    {% if move.move.total_charges %}
                        <p>{{ move.move.charge_name }}: {{ move.charges }} / {{ move.move.total_charges }}</p>
                    {% endif %}
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% with c_moves=character.character_class|slugify|add:'-moves' %}
    <a href="{% url 'update-moves' character.campaign.id character.id %}" class="btn btn-primary my-3">Add Move</a>
{% endwith %}