<h4 class='my-3'>Stats</h4>
<ul class="list-group">
    <div class="row gx-0">
        <div class="col-6">
            <a href="{% url 'character-stats' character.campaign.id character.id %}" class="list-group-item">
                <div class="text-center">
                    <strong>Strength: </strong> 
                    <h6><strong>{{ character.strength }}</strong></h6>
                    <p class="m-0 small">{% if character.weakened %}(weakened: roll w/ disadvantage){% endif %}</p>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{% url 'character-stats' character.campaign.id character.id %}" class="list-group-item">
                <div class="text-center">
                    <strong>Dexterity: </strong>
                    <h6><strong>{{ character.dexterity }}</strong></h6>
                    <p class="m-0 small">{% if character.weakened %}(weakened: roll w/ disadvantage){% endif %}</p>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{% url 'character-stats' character.campaign.id character.id %}" class="list-group-item">
                <div class="text-center">
                    <strong>Intelligence: </strong>
                    <h6><strong>{{ character.intelligence }}</strong></h6>
                    <p class="m-0 small">{% if character.dazed %}(dazed: roll w/ disadvantage){% endif %}</p>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{% url 'character-stats' character.campaign.id character.id %}" class="list-group-item">
                <div class="text-center">
                    <strong>Wisdom: </strong>
                    <h6><strong>{{ character.wisdom }}</strong></h6>
                    <p class="m-0 small">{% if character.dazed %}(dazed: roll w/ disadvantage){% endif %}</p>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{% url 'character-stats' character.campaign.id character.id %}" class="list-group-item">
                <div class="text-center">
                    <strong>Constitution: </strong>
                    <h6><strong>{{ character.constitution }}</strong></h6>
                    <p class="m-0 small">{% if character.miserable %}(miserable: roll w/ disadvantage){% endif %}</p>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{% url 'character-stats' character.campaign.id character.id %}" class="list-group-item">
                <div class="text-center">
                    <strong>Charisma: </strong>
                    <h6><strong>{{ character.charisma }}</strong></h6>
                    <p class="m-0 small">{% if character.miserable %}(miserable: roll w/ disadvantage){% endif %}</p>
                </div>
            </a>
        </div>
    </div>
</ul>   
<ul class="list-group">
    <div class="row gx-0">
        <div class="col-6">
            <a href="{% url 'character-stats' character.campaign.id character.id %}" class="list-group-item">
                <div class="text-center">
                    <strong>Damage: </strong>
                    <h6><strong>{{ character.damage_die }}</strong></h6>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{% url 'character-stats' character.campaign.id character.id %}" class="list-group-item">
                <div class="text-center">
                    <strong>HP: </strong>
                    <h6><strong>{{ character.current_hp }} / {{ character.max_hp }}</strong></h6>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{% url 'character-stats' character.campaign.id character.id %}" class="list-group-item">
                <div class="text-center">
                    <strong>Armor: </strong>
                    <h6><strong>{{ character.armor }}</strong></h6>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{% url 'character-stats' character.campaign.id character.id %}" class="list-group-item">
                <div class="text-center">
                    <strong>Level: </strong>
                    <h6><strong>{{ character.level }}</strong></h6>
                </div>
            </a>
        </div>
        <div class="col-12">
            <a href="{% url 'character-stats' character.campaign.id character.id %}" class="list-group-item">
                <div class="text-center">
                    <strong>XP: </strong>
                    <h6><strong>{{ character.experience_points }}</strong></h6>
                </div>
            </a>
        </div>
    </div>
</ul>
