{% for tag in follower.npc_instance.tags.all %}
    {% if forloop.last %}
        {% comment "Adding special emphasis to group and exceptional" %}
        {% if tag == 'exceptional' or tag == 'group' %}
            <span><strong><em> {{ tag }} </em></strong></span>
        {% else %}
            <span><em> {{ tag }} </em></span>
        {% endif %}
        {% endcomment %}
        <span><em> {{ tag }} </em></span>
    {% else %}
        {% comment "Adding special emphasis to group and exceptional" %}
        {% if tag == 'exceptional' or tag.name == 'group' %}
            <span><strong><em> {{ tag }}, </em></strong></span>
        {% else %}
            <span><em> {{ tag }}, </em></span>
        {% endif %}
        {% endcomment %}
        <span><em> {{ tag }}, </em></span>
    {% endif %}
{% endfor %}