<p>You keep order in Stonetop and protect it from
    outside threats. It might not be anything offi cial,
    but everyone knows you've got a cool head and the
    weight to back up your words.
</p>
<p>When you bark an order or warning, roll +CHA:
    on a 7+, they must choose 1:
</p>
<ul>
    <li>Do what you say</li>
    <li>Dig in/take cover/flee</li>
    <li>Attack you</li>
</ul>
<p>On a 10+, you can tell which one they're going to
    do and do something fi rst; gain advantage if you do.
</p>