<div class="row">
    <div class="col-lg-8">
        <h4 class="mt-4">Tall Tales</h4>
        <p>Someone like you gets into all sorts of trouble,
            whether you mean to or not. Mix and match the
            following to come up with a couple of your more
            memorable adventures, and write them down in the
            space at the bottom of this column.
        </p>
        <p class="my-2">There was that time that you... (Choose 1 per tale)</p>
            <div class="form-check">
                {{ form.tale_theme }}
            </div>
        <p class="my-2">And you ended up... (choose 1 or 2 per tale)</p>
            <div class="form-check">
                {{ form.tale_details }}
            </div>
        <p class="my-2">But all you've got left to show for it is...</p>
            <div class="form-check">
                {{ form.tale_results }}
            </div>
    </div>
</div>