{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create The Ranger{% endblock title %}

{% block content %}
<div class="container-md">
    <div class="row">
        <div class="col-10">
            <h1>The Ranger</h1>
            <p class="small"><em>
                Your true home is out there. Away from the Old Roads, in the wild places, where you've faced
                storm and beast alike. But unknown forces are at work beyond the Ringwall, and you fear for your
                kith and kin. These are strange times. Guide them, ranger, and keep them safe when darkness falls.
            </em></p>
        </div>
        <div class="col-2">
            <img class="float-end" 
                src="" 
                alt=""> 
        </div>    
    </div>
    <form method="post">{% csrf_token %}
        {% include 'campaign/includes/create_character_form.html' %}
        <h4 class="mt-4">Special Possesions</h4>
        <p class="small">(Pick 2, in addition to your longbow)</p>
        <div class="row">
            {% include 'campaign/includes/create_character_special_possessions.html' %}
        </div>
        <div class="text-start">
            <h4 class="mt-4">Moves</h4>
            <p class="small">You start with Home on the Range, any moves from your Background, plus 1 of your choice</p>
        </div>
        {% include 'campaign/includes/create_character_moves.html' %}
        <div class="text-start">
            <h4 class="my-2">Something wicked this way comes</h4>
            <p>You know firsthand that trouble is out there, and
                like it or not, one of these days the folk of Stonetop
                are going to have to face it. 
            </p>
            <p>
            What is it that you're so
            worried about? (choose 1)
            </p>
        </div>
        {{ form.something_wicked|as_crispy_field }}
        <div class="text-start">
            <p class="lead">Answer at least 3 of the following questions about that action:</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                {{ form.wicked_detail_1|as_crispy_field }}
            </div>
            <div class="col-lg-3 col-sm-6">
                {{ form.wicked_detail_2|as_crispy_field }}
            </div>   
            <div class="col-lg-3 col-sm-6">
                {{ form.wicked_detail_3|as_crispy_field }}
            </div>
            <div class="col-lg-3 col-sm-6">
                {{ form.wicked_detail_4|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                {{ form.wicked_detail_5|as_crispy_field }}
            </div>
            <div class="col-lg-3 col-sm-6">
                {{ form.wicked_detail_6|as_crispy_field }}
            </div>   
            <div class="col-lg-3 col-sm-6">
                {{ form.wicked_detail_7|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary m-3">Create Character</button>
    </form>
</div>

{% endblock content %}
