{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ character.character_name }}'s Crew{% endblock title %}

{% block content %}
<div class="container-md">
    <div class="text-center">
        <h1>{{ character.character_name }}'s Crew</h1>
        <p class="small">Marshal, your Crew is a half-dozen strong by default. 
            Treat them as a follower with the group tag.</p>
    </div>
    <form action="" method="post">{% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary my-2">Create Crew</button> 
            </div>
        </div> 
    </form>
</div>
{% endblock content %}
