{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create The Blessed{% endblock title %}

{% block content %}
<div class="container-md">
    <div class="row">
        <div class="col-10">
            <h1>The Blessed</h1>
            <p class="small"><em>
                Danu, the Great Mother, provides. We need only learn her secrets: the names by which the trees
                call each other; the mark made with redberry juice to ward off impure spirits; the language of
                the wolves. A thousand such secrets Danu keeps, to share with only her true children. Her Blessed.
            </em></p>
        </div>
        <div class="col-2">
            <img class="float-end" 
                src="" 
                alt=""> 
        </div>    
    </div>
    <form method="post">{% csrf_token %}
        {% include 'campaign/includes/create_character_form.html' %}
        <div class="text-start">
            <h4 class="mt-4">Special Possesions</h4>
            <p class="small">Pick 2, in addition to your sacred pouch.</p>
        </div>
        <div class="row">
            {% include 'campaign/includes/create_character_special_possessions.html' %}    
        </div>
        <div class="text-start">
            <h4 class="mt-4">Moves</h4>
            <p class="small">You start with Spirit Tongue, Call the Spirits, 1 from your Background, and 1 of your choice.</p>
        </div>
        {% include 'campaign/includes/create_character_moves.html' %}
        <div class="text-start">
            <h4 class="mt-4">Sacred pouch</h4>    
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Your sacred pouch (magical) doesn't take up space
                    in your inventory. It can hold up to 3 Stock (sacred
                    herbs, powders, stones, pigments, chalks, clay, and
                    so forth). Each time you gain an even-numbered
                    level, your pouch can hold +1 Stock. When <em><strong>anyone
                    but you looks inside your sacred pouch and touches the
                    materials therein</strong></em>, the Stock is ruined.
                    When you <em><strong>have a few days of downtime in familiar
                    terrain</strong></em>, you may replenish your Stock.
                    When you <em><strong>Forage</strong></em>, you can produce Stock instead
                    of provisions.
                    Your sacred pouch is... (choose 1 on each line)</p>
                <div class="appearance list-group">
                    <div class="list-group-item">
                        {{ form.pouch_origin }}
                    </div>
                    <div class="list-group-item">
                        {{ form.pouch_material }}
                    </div>
                    <div class="list-group-item">
                        {{ form.pouch_aesthetics }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="mt-2">What remarkable trait does it possess? (choose 1)</p>
                <div class="form-check">
                    {{ form.remarkable_traits }}
                </div>
            </div>
        </div>
        <div class="text-start">
            <h4 class="mt-4">The Earth Mother</h4>
            <p></p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Danu has long been revered by all peoples, though
                    not always worshipped or served by priests.
                    In Stonetop's Pavilion of the Gods, Danu's shrine is...
                    (choose 1)</p>
                    <div class="form-check">
                        {{ form.danus_shrine }}
                    </div>
            </div>
            <div class="col-lg-6">
                <p class="mt-2">What do the folk of Stonetop leave as offerings? (choose 2-3)</p>
                <div class="form-check">
                    {{ form.offerings }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary m-3">Create Character</button>
    </form>
</div>
{% endblock content %}