{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create The Fox{% endblock title %}

{% block content %}
<div class="container-md">
    <div class="row">
        <div class="col-10">
            <h1>The Fox</h1>
            <p class="small"><em>
                The elders tell a story about Fox, who knows lots of tricks, and Hedgehog, who knows one: how to
                curl up into a ball when there's danger. Fox can't eat Hedgehog when he's all curled up, so in the story
                Fox goes hungry. But you're not that Fox, and this is no story. You want that Hedgehog? Go get a knife.
            </em></p>
        </div>
        <div class="col-2">
            <img class="float-end" 
                src="" 
                alt=""> 
        </div>    
    </div>
    <form method="post">{% csrf_token %}
        {% include 'campaign/includes/create_character_form.html' %}
        <h4 class="mt-4">Special Possesions</h4>
        <p class="small">(Pick 2)</p>
        <div class="row">
            {% include 'campaign/includes/create_character_special_possessions.html' %}
        </div>
        <div class="text-start">
            <h4 class="mt-4">Moves</h4>
            <p class="small">You start with Ambush OR Skill at Arms, Danger Sense OR Perceptive; and 1 of your choice.</p>
        </div>
        {% include 'campaign/includes/create_character_moves.html' %}
        <button type="submit" class="btn btn-primary m-3">Create Character</button>
    </form>
</div>

{% endblock content %}
