{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create NPC{% endblock title %}


{% block content %}
<div class="container-md">
    <div class="text-center">
        <h1>Create Non Player Character (NPC)</h1>
    </div>
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-lg-12">
                {{ form.character_name|as_crispy_field }}
                {{ form.pronouns|as_crispy_field }}
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Tags</h4>
                <p>
                    Give each NPC 2-4 tags, sometimes more.
                    Tags are adjectives or nouns, 
                    and they should finish the sentence, 
                    "This NPC is/is a ____."
                </p>
                <p>
                    Avoid overly broad tags like <em>experienced</em>, 
                    <em>invincible</em>, <em>skilled</em>, <em>incompetent</em>,
                    etc.
                </p>
                {{ form.tags|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                <div class="text-center">
                    <h6>Tag examples</h6>
                </div>
                <p><strong>Useful tags:</strong></p>
                <p class="ms-2"><em>
                    agile, archer, athletic, 
                    beautiful, brave, cunning, fast, 
                    fierce, hardy, healer, intimidating, 
                    magical, observant, organized, patient, 
                    respected, self-sufficient, sharp-eyed, 
                    stealthy, tireless, tracker, warrior, 
                    ____-wise
                </em></p>
                <p><strong>Problematic tags:</strong></p>
                <p class="ms-2"><em>
                    bigoted, drunk, greedy, gullible, 
                    lecherous, naive, proud, rookie, 
                    reckless, short-fused, stubborn, 
                    frail
                </em></p>
                <p><strong>Mixed blessing tags:</strong></p>
                <p class="ms-2"><em>
                    animal-lover, annoying, big, bully, 
                    callous, cautious, devious, eager, 
                    thieving, gossipy, honest, kind, little,
                    shameless, terrifying
                </em></p>
            </div>
            <hr />
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Hit points</h4>
                <p class="small">Determine maximum HP by answering the following questions:</p>
                <div class="d-flex w-100 justify-content-between">
                    <h6><strong>How resilent are they?</strong> (pick 1)</h6>
                    <p>HP</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>Weak/frail/soft</p>
                    <p>3</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>Able-bodied</p>
                    <p>6</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>Tough/strong/hard</p>
                    <p>9</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <h6><strong>What else applies?</strong> (Pick all that do)</h6>
                    <p>HP</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>They are <em>tiny</em></p>
                    <p>-2</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>They are <em>large</em></p>
                    <p>+4</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>The fates smile on them</p>
                    <p>+2</p>
                </div>
                {{ form.max_hp|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                <h4>Armor</h4>
                <p class="small">Answer the following:</p>
                <div class="d-flex w-100 justify-content-between">
                    <h6><strong>What protects them?</strong> (pick 1)</h6>
                    <p>ARMOR</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>Naught but cloth and flesh</p>
                    <p>0</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>Leathers or thick hide</p>
                    <p>1</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>Mail, scale, or similar</p>
                    <p>2</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>Steel, boney plates, carapace</p>
                    <p>3</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>Potent magical wards or supernatural resilience</p>
                    <p>4</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <h6><strong>What else applies?</strong> (Pick all that do)</h6>
                    <p>ARMOR</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>They are <em>tiny</em></p>
                    <p>+1</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>They bear a shield or similar</p>
                    <p>+1</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>They are skilled in defense</p>
                    <p>+1</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>They lack vital organs</p>
                    <p>+1</p>
                </div>
                {{ form.armor|as_crispy_field }}
            </div>
            <hr />
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Damage</h4>
                <p class="small">Answer the following:</p>
                <div class="d-flex w-100 justify-content-between">
                    <h6><strong>How dangerous are they?</strong> (pick 1)</h6>
                    <p>DAMAGE</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>Not very</p>
                    <p>d4</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>Can defend themselves</p>
                    <p>d6</p>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>Veteran fighter or predator</p>
                    <p>d8</p>
                </div>
                {{ form.damage|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                <h4>Instinct</h4>
                <p class=>
                    What does the follower do naturally that causes trouble for the PC they
                    follow? Write their instinct in this format:
                    “to [do something].” Example instincts for
                    followers include:
                </p>
                <ul>
                    <li>To take things too far</li>
                    <li>To question leadership and authority</li>
                    <li>To cling tightly to tradition</li>
                    <li>To act impulsively</li>
                    <li>To give in to temptation</li>
                    <li>To not take things seriously</li>
                    <li>To freeze up in the face of danger</li>
                </ul>
                {{ form.instinct|as_crispy_field }}
            </div>
            <hr />
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h5>Optional fields:</h5>
                <p>The following fields are optional, 
                    but give more information about this
                    npc.
                </p>
                {{ form.residence|as_crispy_field }}
                {{ form.connections_to_others|as_crispy_field }}
                {{ form.traits|as_crispy_field }}
                {{ form.impressions|as_crispy_field }}
                {{ form.additional_details|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary m-3">Create NPC</button>
    </form>
</div>
{% endblock content %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock footer %}