{% extends 'base.html' %}
{% load static %}

{% block title %}The Heavy: {{ character.character_name }} Home{% endblock title %}

{% block content %}
<div class="container-md">
    <div class="text-center">
        <h1>{{ character.character_name }} (The Heavy)</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Background: {{ char_background.background }}</strong>
                    <p>{{ char_background.description|safe }}</p>
                </li>
                {% include 'campaign/includes/character_detail_basic_info.html' %}
                <li class="list-group-item">
                    <h6><strong>A history of violence</strong></h6>
                    <p class="my-2">Just about everyone talks about the time you...</p>
                    <ul>
                        {% for glory_story in character.stories_of_glory.all %}
                            <li>{{ glory_story }}</li>
                        {% endfor %}
                    </ul>
                    <p class="my-2">But folks are less keen to discuss...</p>
                    <ul>
                        {% for terror_story in character.terrible_stories.all %}
                            <li>{{ terror_story }}</li>
                        {% endfor %}
                    </ul>
                    <p class="my-2">The following keeps you up at night:</p>
                    <ul>
                        {% for fear in character.fears.all %}
                            <li>{{ fear }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% include 'campaign/includes/character_detail_stats.html' %}    
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h4 class='my-3'>Special Possessions</h4>
            <ul class="list-group">
                {% include 'campaign/includes/character_detail_special_possessions.html' %}
            </ul>
        </div>
    </div>
    {% include 'campaign/includes/character_detail_moves.html' %}     
</div>
{% endblock content %}