{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Update Tall Tale{% endblock title %}

{% block content %}
<div class="container-md">
    <div class="text-start">
        <h1 class="my-3">Update Tall Tale</h1>
        <p>
            Someone like you gets into all sorts of trouble,
            whether you mean to or not. Mix and match the
            following to come up with a couple of your more
            memorable adventures, and write them down in the
            space at the bottom of this column.
        </p>
    </div>
    <form action="" method="post">{% csrf_token %}
        <div class="row ">
            <div class="col-8">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary my-2">Update Tall Tale</button>
            </div>
        </div> 
    </form>
</div>
{% endblock content %}