<p>When you wear armor or carry a shield, mark only <span style="color:#000000">◇&nbsp;</span>for each (instead of <span style="color:#000000">◇◇</span>), and ignore the clumsy tag (you don&rsquo;t suffer disadvantage for wearing it).</p>

<p>If you take this move at the start of play, add an <span style="color:#000000">◇</span> iron hauberk,<span style="color:#000000">◇</span> bronze cuirass, or<span style="color:#000000">◇</span> scale coat to your inventory (all are 2 armor, warm, clumsy).</p>
