<div class="row justify-content-center">
    <div class="col-lg-8">
        <h4 class='my-3'>Inventory</h4>
        {% if total_weight < 4 %}
            <h6 class='my-3'>Light Load (you are <em>quick &amp; quiet</em>): {{ total_weight }} weight</h6>
        {% elif total_weight < 7 %}
            <h6 class='my-3'>Normal Load: {{ total_weight }} weight</h6>
        {% elif total_weight < 10 %}
            <h6 class='my-3'>Heavy Load (you are <em>noisy, load, slow, quick to tire</em>): {{ total_weight }} weight</h6>
        {% else %} 
            <h6 class='my-3'>Overloaded (you cannot move!): {{ total_weight }} weight</h6>
        {% endif %}
        <ul class="list-group">
            {% for item in character.items.all %}
                {% if item.outfitted == True %}
                    <a href="{% url 'update-item' character.campaign.id character.id item.id %}" class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>{{ item.item.name }} (weight {{ item.item.weight }})</h6>
                            {% if item.item.total_uses %}
                                <span>{{ item.item.uses_name }}: {{ item.uses }} / {{ item.item.total_uses }}</span>
                            {% endif %}
                        </div>
                        {% if item.item.description %}
                            <p>{{ item.item.description|safe }}</p>
                        {% endif %}
                    </a>
                {% endif %}
            {% empty %}
                <li class="list-group-item">No Items in inventory.</li> 
            {% endfor %}
            {% for arcana in character.major_arcana.all %}
                {% if arcana.outfitted == True %}
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>{{ arcana.arcana.name }} (weight {{ arcana.arcana.weight }})</h6>
                            {% if arcana.arcana.total_charges != None %}
                                <span>{{ arcana.arcana.charge_name }}: {{ arcana.charges }} / {{ arcana.arcana.total_charges }}</span>
                            {% endif %}
                        </div>
                    </li>
                {% endif %} 
            {% endfor %}
            {% for arcana in character.minor_arcana.all %}
                {% if arcana.outfitted == True %}
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>{{ arcana.arcana.name }} (weight {{ arcana.arcana.weight }})</h6>
                            {% if arcana.arcana.total_charges != None %}
                                <span>{{ arcana.arcana.charge_name }}: {{ arcana.charges }} / {{ arcana.arcana.total_charges }}</span>
                            {% endif %}
                        </div>
                    </li>
                {% endif %} 
            {% endfor %}
        </ul>
    </div>
</div>