<div class="row justify-content-center">
    <div class="col-lg-8">
        <h4 class='my-3'>Followers</h4>
        <ul class="list-group">
            {% for follower in character.followerinstance_set.all %}
                {% with npc_instance=follower.npc_instance %}
                <a href="{% url 'follower-detail' character.campaign.id character.id follower.id %}" class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5>{{ npc_instance.character_name }}</h5>
                        <span><strong>HP:</strong> {{ npc_instance.current_hp }} / {{ npc_instance.max_hp }}</span>
                    </div>
                    <p>{% include 'campaign/includes/follower_tags.html' %}</p>
                    <p><strong>Armor:</strong> {{ npc_instance.armor }}</p>
                    <p><strong>Damage:</strong> {{ npc_instance.damage }}</p>
                    <p><strong>Instinct:</strong> {{ npc_instance.instinct }}</p>
                    <p><strong>Pronouns:</strong> {{ npc_instance.pronouns }}</p>
                    <div class="d-flex w-100 justify-content-between">
                        <p><strong>Cost:</strong> {{ follower.cost }}</p>
                        <p><strong>Loyalty:</strong> {{ follower.loyalty }}</p>
                    </div>
                    <p><strong>Moves: </strong>
                        <ul>
                            {% for move in npc_instance.gm_moves.all %}
                                <li>{{ move }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                    <p><strong>Gear:</strong></p>
                    <ul>
                        {% comment "Add Gear or Inventory model" %}
                        {% endcomment %}
                    </ul>
                    <p><strong>Notes:</strong></p>
                    <p class="mb-5">{{ npc_instance.additional_details }}</p>
                </a>
                {% endwith %}
            {% endfor %}
        </ul>
        <a href="{% url 'create-follower' character.campaign.id character.id %}" class="btn btn-primary my-3">Add Follower</a>
    </div>
</div>