<div class="row justify-content-center">
    <div class="col-lg-8">
        <h4 class='my-3'>Moves</h4>
        <ul class="list-group">
            {% for move in character.character_moves.all %}
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h6>{{ move.name }}</h6>
                        {% if move.uses != None %}
                            <span>{{ move.uses }}</span>
                        {% endif %}
                    </div>
                    <p>{{ move.description|safe }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>